################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
.vs/das-payments-V2-spec/v15/.suo
