################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
/.vs
.vs/das-payments-V2-spec/v15/.suo
.vs/VSWorkspaceState.json
.vs/ProjectSettings.json
.vs/slnx.sqlite
*.json
.vs/VSWorkspaceState.json
.vs/VSWorkspaceState.json
*.sqlite
*.json
*.sqlite
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/slnx.sqlite
/End-to-End - Business Acceptance Tests/Levy - Additional Payments/Learning Support/E2E -PV2-804 - Levy Learner, takes English & Maths which exceeds completion date of main programme aim, learning support not paid as data lock triggered.feature
.vs/slnx.sqlite
/Master Branch 25-Apr/Levy Learner/Payment Priority
.vs/slnx.sqlite
